<link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Questrial|Quicksand&display=swap" rel="stylesheet">
<div class="gif-header">
  <header>
    <h1>D <span class="flip">R</span> E S</h1>
    <nav>
      {{!-- <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a> --}}



  </header>


  <img class="main_image__img" src="http://annstreetstudio.com/wp-content/uploads/2013/08/615rain.gif"
    data-pc-src="http://annstreetstudio.com/wp-content/uploads/2013/08/615rain.gif"
    data-mobile-src="http://annstreetstudio.com/wp-content/uploads/2013/08/615rain.gif"
    style="width: 100%; height: 100%;">


</div>

<div class="stylist-intro"> MAKE YOUR MARK </h1>
  <p class="stylist-outro"> </p>
</div>


<div class="second-container">

  <img class="hero-image img-fluid"
    src="https://66.media.tumblr.com/5ffd7f4bf91024867032c74e3ff9f642/tumblr_o67py70nBv1qgeruwo1_1280.jpg"
    data-pc-src="http://annstreetstudio.com/wp-content/uploads/2014/11/IWC-Cinemagraph-615.gif"
    data-mobile-src="http://annstreetstudio.com/wp-content/uploads/2014/11/IWC-Cinemagraph-615.gif"
    style="width: 100%; height: 100%;">
</div>

<div class="container">

  <div class="stylist-intro"> D <span class="flip">R</span> E S &nbsp;TO &nbsp;IMPRESS </h1>
    <p class="stylist-outro"> Let's Get Styling.</p>
  </div>
</div>


<div class="container">



  <p class="stylist-name">{{outfit.stylistName}}</p>
</div>
<div class="container" id="outfit-box">
  <form action="">
    <div class="form-group">
      <label for="oCategory">Choose Outfit Category</label>
      <select class="form-control" id="oCategory">
        <option value="interview">interview</option>
        <option value="casual wear">casual wear</option>
        <option value="wedding">wedding</option>
        <option value="first date">first date</option>
        <option value="festival">festival</option>
        <option value="a-list">a-list</option>
      </select>
    </div>
    <div class="form-group">
      <label for="oImage">Outfit Image Link</label>
      <input type="text" class="form-control" id="oImage" placeholder="Outfit Image Link" value={{outfit.image}}>
    </div>
    <div class="form-group">
      <label for="oPrice">Outfit Total Price</label>
      <input type="text" class="form-control" id="oPrice" placeholder="Outfit Total Price" value={{outfit.price}}>
    </div>
    <button data-id={{outfit.id}} type="submit" class="btn btn-dark" id="submit-outfit">Update Outfit</button>
  </form>
</div>
<div class="container" id="item-form">
  <form>
    <div class="form-group">
      <label for="iName">Item Name</label>
      <input type="text" class="form-control" id="iName" placeholder="Item Name">
    </div>
    <div class="form-group">
      <label for="iImage">Image Link</label>
      <input type="text" class="form-control" id="iImage" placeholder="Image Link">
    </div>
    <div class="form-group">
      <label for="iPrice">Item Price</label>
      <input type="text" class="form-control" id="iPrice" placeholder="Item Price">
    </div>
    <div class="form-group">
      <label for="iPurchase">Purchase Link</label>
      <input type="text" class="form-control" id="iPurchase" placeholder="Purchase Link">
    </div>


    <button type="submit" class="btn btn-dark" id="submit-item">Add item to outfit</button>
  </form>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex">
      <div class="card-deck my-3">
        {{#each items}}
          <div class="card text-center" data-id="{{this.id}}">
            <p>{{this.name}}</p>
            <a href="{{this.purchase}}" target="_blank">
              <img src="{{this.image}}" alt="item">
            </a>
            <div class="card-body">
              <p>Price: ${{this.price}}</p>
              <a href="{{this.purchase}}" target="_blank" class="btn btn-dark">Purchse</a>
              <button data-id="{{this.id}}" class="btn btn-danger float-right delete">ｘ</button>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{!-- <a href="/"><img src="/public/images/home.svg" class="btn">Home</a>|
<a href="/auth/logout" class="btn">Logout</a> --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  // Set category of outfit by value in dropdown from passed outfit
  $("#oCategory").val("{{outfit.category}}");
</script>
<script src="/js/stylist.js"></script>

{{!-- The Footer Begins Here --}}
<footer>
  <div class="footer-top">
    <div class="container">
      <ul class="menu">

        <li>
          <a href="/">D <span class="flip">R</span> E S</a>
        </li>

      </ul>
    </div>
  </div>
  </div>

  <div class="container" style="border-top:1px solid grey;">
    <div class="row text-center">
      <div class="col-lg-12">
        <ul class="menu">

          <li>
            <a href=""/"">Top </a> </li> <li>
              <a href="/auth/logout">LogOut</a>
          </li>

          <li>
            <a href="#">Blog</a>
          </li>

          <li>
            <a href="#">Gallery</a>
          </li>

          <li>
            <a href="#">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</footer>