<div class="container">
  <p>{{outfit.stylistName}}</p>
</div>
<div class="container" id="outfit-box">
  <form action="">
    <div class="form-group">
      <label for="oCategory">Choose outfit category</label>
      <select class="form-control" id="oCategory">
        <option value="wedding">wedding</option>
        <option value="office">office</option>
        <option value="graudation">graduation</option>
      </select>
    </div>
    <div class="form-group">
      <label for="oImage">Outfit Image Link</label>
      <input type="text" class="form-control" id="oImage" placeholder="Outfit Image Link" value={{outfit.image}}>
    </div>
    <div class="form-group">
      <label for="oPrice">Outfit Total Price</label>
      <input type="text" class="form-control" id="oPrice" placeholder="Outfit Total Price" value={{outfit.price}}>
    </div>
    <button data-id={{outfit.id}} type="submit" class="btn btn-primary" id="submit-outfit">Update Outfit</button>
  </form>
</div>
<div class="container" id="item-form">
  <form>
    <div class="form-group">
      <label for="iName">Item Name</label>
      <input type="text" class="form-control" id="iName" placeholder="Item Name">
    </div>
    <div class="form-group">
      <label for="iImage">Image Link</label>
      <input type="text" class="form-control" id="iImage" placeholder="Image Link">
    </div>
    <div class="form-group">
      <label for="iPrice">Item Price</label>
      <input type="text" class="form-control" id="iPrice" placeholder="Item Price">
    </div>
    <div class="form-group">
      <label for="iPurchase">Purchase Link</label>
      <input type="text" class="form-control" id="iPurchase" placeholder="Purchase Link">
    </div>


    <button type="submit" class="btn btn-primary"  id="submit-item">Add item to outfit</button>
  </form>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul>
        {{#each items}}
          <li data-id="{{this.id}}" class="list-group-item">
            {{this.name}}
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<a href="/" class="btn">Home</a>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  // Set category of outfit by value in dropdown from passed outfit
  $("#oCategory").val("{{outfit.category}}");
</script>
<script src="/js/stylist.js"></script>